/* basis */

* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   color: #222;
   font-family: system-ui, sans-serif;
   margin: 0;
   padding: 12px;
}


/* scrollbars */

.scrollpanel {
   background-color: #f9fafb;
   border: 1px solid #e5e7eb;
   border-radius: 6px;
   padding: 12px;
   /* ...*/
}

.scrollpanel figure {
   margin-left: 0;
}

.scrollpanel figcaption {
   font-size: smaller;
   font-style: italic;
}

.scrollpanel img {
   width: 60px;
}
