/* basis */

* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   color: #222;
   font-family: system-ui, sans-serif;
   margin: 0;
   padding: 12px;
}


/* gegeven opmaak */

.buttons {
   display: grid;
   gap: 15px;
   grid-template-columns: auto auto;
   justify-items: start;
   width: fit-content;
}

.button {
   background-color: #6c757d;
   border-radius: 8px;
   color: white;
   cursor: pointer;
   font-size: 14px;
   padding: 8px 14px;
   text-decoration: none;
   text-transform: uppercase;
}


/* meerdere classes */

/* ... */
