body {
   background-color: #fafafa;
   color: #222;
   font-family: "Open Sans", system-ui, sans-serif;
   font-size: 14px;
   line-height: 1.5;
   margin: 0;
   padding: 8px;
}

#ex5-btnWis {
   background-color: transparent;
   border-color: transparent;
   margin-top: 0.25em;
   padding: 5px;
}

.flex-row {
   display: flex;
   gap: 0.5em;
}

.hidden {
   display: none;
}

.right {
   background-color: #b8e6b8;
}

.wrong {
   background-color: #f0b0b0;
}
