/* basis */

* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   color: #222;
   font-family: system-ui, sans-serif;
   margin: 0;
   padding: 12px;
}


/* layout met sidebar, gecentreerd */

.layout .wrapper {
   background-color: #eee;
   padding: 10px;
   /* ...*/
}

.sidebar {
   background-color: #fecaca;
   border-radius: 8px;
   padding: 12px;
   /* ...*/
}

.content {
   background-color: #bbf7d0;
   border-radius: 8px;
   padding: 12px;
}
