/*
 * Herhaling 2: Gent by Night - opmaak
 *
 * @author ...
 *
 * Schrijf je CSS onder de TODO's. De reset hieronder is gegeven.
 */

/* reset */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* elementen */

/* TODO 1: body */

/* TODO 2: koppen h1, h2 en h3 */

/* TODO 3: paragrafen */

/* hero */

/* TODO 4: .hero */

/* TODO 5: .tagline */

/* menu */

/* TODO 6: .menu en .menu a */

/* inhoud */

/* TODO 7: main */

/* TODO 8: .tip */

/* TODO 9: .prijs */

/* knop */

/* TODO 10: .button */

/* voet */

/* TODO 11: footer */
