/* basis */

* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   color: #222;
   font-family: system-ui, sans-serif;
   margin: 0;
   padding: 12px;
}


/* margin en padding */

.header {
   background-image: url(img/city.jpg);
   background-position: center bottom;
   background-size: contain;
   /* ...*/
}

.header-box {
   background-color: #789b;
   color: #eee;
   max-width: 350px;
   /* ...*/
}

.header-box:last-child {
   /* ...*/
}
