body {
   background-color: #fafafa;
   color: #222;
   font-family: "Open Sans", system-ui, sans-serif;
   font-size: 14px;
   line-height: 1.5;
   margin: 0;
   padding: 8px;
}

.html-section {
   display: flex;
   flex-direction: column;
   gap: 0.25rem;
   margin-bottom: 1rem;
}

.errors {
   color: #c00;
   margin-bottom: 1.5em;
}
