body {
   background-color: #fafafa;
   color: #222;
   font-family: "Open Sans", system-ui, sans-serif;
   font-size: 14px;
   line-height: 1.5;
   margin: 0;
   padding: 8px;
}

.output {
   background: #f4f4f4;
   border-radius: 5px;
   margin-top: 15px;
   padding: 10px;
}

.row {
   display: flex;
   gap: 10px;
}
