/* basis */

* {
   box-sizing: border-box;
}

body {
   background-color: #fafafa;
   color: #222;
   font-family: system-ui, sans-serif;
   margin: 0;
   padding: 12px;
}


/* springen */

.jump-grid {
   width: 600px;
   /* ...*/
}

.jump-grid .man {
   height: 100px;
}

.jump-grid .man.jump {
   /* ...*/
}
